
*.json
*.vscode
*.o
*.obj
*.out
*.a
*.cmake
*.exe
*.dll

CMakeFiles/
Makefile
lib/

Testing/


BlackTeamTesting

cmake_install.cmake
CMakeCache.txt

main

*.ninja_log
*.ninja_deps
*.ipch
*.rc
.vs/
out/
TextBasedChess
.DS_Store
