
*.json
*.vscode
*.o
*.obj
*.out
*.a
*.cmake
*.exe
*.dll

CMakeFiles/
Makefile
lib/

Testing/


BlackTeamTesting
test

cmake_install.cmake
CMakeCache.txt

main
bin/
*.ninja_log
*.ninja_deps
*.ipch
*.rc
.vs/
out/
TextBasedChess
.DS_Store
